<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title> Operation systems: A brief overview </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/slate/bootstrap.min.css" integrity="sha384-idNH3UIOiZbCf8jxqu4iExnH34y5UovfW/Mg8T5WfNvoJolDvknoNqR69V2OexgF" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Jura&display=swap" rel="stylesheet">
    </head>
    
    <br>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li> <br><br>
            <li class="nav-item">
                <a class="nav-link" href="/linux">Linux</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/macOS"> macOS </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/windows"> Windows </a>
            </li>
        </ul>
    </nav>
    
    </head>
